:root {
	--light-font: #aaaabc; 
	--font: #454555;
	--bg:#eeeeee;
	--link:#0079b9;

	--blue:#16357c;
	--light-blue:#0079b9;

}
	



/* https://www.howtogeek.com/get-a-clean-attractive-site-with-lines-of-css/ */


html {
    box-sizing: border-box;
    max-width: 70rem;
    margin: auto;
    font-size: 1.25em;
    color: var(--font);
    line-height: 1.4;
	
}

* {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a:link {
	color:var(--link);
    text-decoration: none;
}

a:hover {
	color:var(--blue);
    text-decoration: underline;
}

